<html>
	<head>
<!-- 		<script src="http://rubaxa.github.io/Sortable/Sortable.js"></script> -->
		<script src="static/js/Sortable.js"></script>
    <!-- Loading Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Loading Flat UI -->
    <link href="static/bower_components/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
        
    <!-- code highlighting -->
    <link rel="stylesheet" href="static/js/highlight_code/default.min.css">

    <link rel="shortcut icon" href="static/bower_components/flat-ui/dist/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="static/bower_components/flat-ui/dist/js/vendor/html5shiv.js"></script>
      <script src="static/bower_components/flat-ui/dist/js/vendor/respond.min.js"></script>
    <![endif]-->

	</head>
	<body onLoad="addField()">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Specifiy Your Log Format</h2>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">At least 100 lines of logs in produciton</div>
                          <div class="panel-body">
                              <textarea id="log_examples" class="form-control" rows="5"></textarea>
                          </div>
                      </div>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div id="simpleDiv"></div>
            </div>
            
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div id="log_line" class="panel-body">
                            Click Generate Button, Your Log Format will show here.
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-primary" onClick="addFieldPlaceholder()">Add Field</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onClick="generate()">Generate</button>
                </div>
                
                <div class="col-md-2">
                    <button class="btn btn-primary" onClick="parserLog()">Parse Your Log</button>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Parsed Log</div>
                        <div class="panel-body">
                            <pre><code id="parsed_log"></code></pre>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            
        </div>

		<script type="text/javascript">
			Sortable.create(simpleDiv, { /* options */ });
		</script>

        <script type="text/javascript">
		    // add field button
            // http://stackoverflow.com/questions/5677799/how-to-append-data-to-div-using-javascript
    
            var placeholder_innerHTML = '<div class="col-md-1">Seq</div> \
                                   <div class="col-md-2"> \
                                       <input type="text" placeholder="Placeholder" class="log-format-element-name form-control" /> \
                               </div>'
                               
            var field_innerHTML = '<div class="col-md-1">Seq</div> \
                <div class="col-md-2"><input type="text" placeholder="Field Name in English" class="log-format-element-name form-control" /></div> \
                <div class="col-md-2"> \
                    <select class="form-control select select-primary select-block mbl log-format-element-field-type"> \
                        <optgroup label="String"> \
                            <option value="0">String</option> \
                            <option value="4">Quote String</option> \
                            <option value="5">UUID</option> \
                            <option value="6">Log Level</option> \
                        </optgroup> \
                        <optgroup label="Networking"> \
                            <option value="2">IP</option> \
                            <option value="1">Host/Domain</option> \
                            <option value="1">Host:Port</option> \
                            <option value="1">IP or Host/Domain</option> \
                        </optgroup> \
                        <optgroup label="Path"> \
                            <option value="3">Full URL</option> \
                            <option value="3">Url Path</option> \
                            <option value="7">Unix Path</option> \
                        </optgroup> \
                        <optgroup label="Json"> \
                            <option value="8">json</option> \
                        </optgroup> \
                        <optgroup label="Number"> \
                            <option value="11">Number</option> \
                            <option value="9">Integer/Long</option> \
                            <option value="10">Float/Double</option> \
                        </optgroup> \
                        <optgroup label="Date"> \
                            <option value="12">ISO8601</option> \
                            <option value="13">HTTPDATE</option> \
                            <option value="14">custom</option> \
                        </optgroup> \
                        <optgroup label="Placeholder"> \
                            <option value="15">whitespace</option> \
                            <option value="16">:</option> \
                            <option value="17">-</option> \
                            <option value="18">/</option> \
                            <option value="19">custom</option> \
                        </optgroup> \
                    </select> \
                </div> \
                <div class="col-md-3"><input type="text" placeholder="Example 1" class="form-control log-format-element-field-example1" /></div> \
                <div class="col-md-3"><input type="text" placeholder="Example 2" class="form-control log-format-element-field-example2" /></div>'
                
            function addField() {
                // TODO: jquery vs backbone.js vs ember.js vs AngularJS 
                var div = document.querySelector("#simpleDiv")

                // add new field
                var field = document.createElement("div")
                field.setAttribute("class", "row log-format-element log-format-element-field")
                field.innerHTML = field_innerHTML
                div.appendChild(field)
            }
            
            function addPlaceholder() {
                
                var div = document.getElementById("simpleDiv")

                var placeholder = document.createElement("div")
                placeholder.setAttribute("class", "row log-format-element log-format-element-placeholder")
                placeholder.innerHTML = placeholder_innerHTML
                // TODO: appendChild will keep user data but div.innerHTML += will lose user data
                // http://stackoverflow.com/questions/595808/is-it-possible-to-append-to-innerhtml-without-destroying-descendants-onclick-fu
                div.appendChild(placeholder)
            }
            
            function addFieldPlaceholder() {
                addPlaceholder()
                addField()
            }
            
            function generate() {
                var div = document.getElementById("simpleDiv")
                
                var log_line = document.getElementById("log_line")
                // remove all children
                while (log_line.hasChildNodes()) {
                    log_line.removeChild(log_line.lastChild)
                }
                 
                var elems = document.querySelectorAll(".log-format-element-name")
                
                for (var i = 0; i < elems.length; ++ i) {

                    var content = document.createTextNode( elems[i].value )
                    
                    var elemContainer = document.createElement( "span" ) 
                    elemContainer.setAttribute( "class", "label label-success" )
                    elemContainer.appendChild( content )
                    log_line.appendChild( elemContainer )
                    
                    // add a whitespace
                    log_line.appendChild( document.createTextNode( " " ) )
                }
            }
            
            function getLogExamples() {
                var log_examples = document.getElementById( "log_examples" )
                return log_examples.value
            }
            
            function getLogFormat() {
                // log format in json
                /*
                {
                        "1" : {
                            "type": "field",
                            "name": "uid",
                            "field_type": "string",
                            "pos": 1
                        },
                        "2": {
                            "type": "placeholder",
                            "name": "@",
                            "pos": 2
                        },
                        "3" : {
                            "type": "field",
                            "name": "url",
                            "field_type": "string",
                            "pos": 3
                        }
                }
                */
                var elems = document.querySelectorAll( ".log-format-element" )
                
                var logFormatElems = {}
                
                for ( var i = 0; i < elems.length; ++i ) {
                    
                    var e = {}

                    e[ "name" ] = elems[ i ].querySelector( ".log-format-element-name" ).value
                    e[ "pos" ] = i + 1
                    
                    if ( elems[ i ].classList.contains( "log-format-element-field" ) ) {
                        e[ "type" ] = "field"
                    }
                    else if ( elems[ i ].classList.contains( "log-format-element-placeholder" ) ) {
                        e[ "type" ] = "placeholder"
                    }

                    if ( e[ "type" ] == "field" ) {
                        // field type 
                        var fieldType = elems[ i ].querySelector( ".log-format-element-field-type" )
                        e[ "field_type" ] = fieldType.options[ fieldType.selectedIndex ].text
                        
                        e[ "example1" ] = elems[ i ].querySelector( ".log-format-element-field-example1" ).value
                        e[ "example2" ] = elems[ i ].querySelector( ".log-format-element-field-example2" ).value
                    }
                    
                    logFormatElems[ e[ "pos" ] ] = e
                }
                
                return logFormatElems
            }
            
            function parserLog() {
                // get "log examples" and "log format", then send ajax request
                var log_examples = getLogExamples()
                var log_format = getLogFormat()
                
                console.log( "log format:" + JSON.stringify( log_format ) )
                
                var parsed_log = document.getElementById( "parsed_log" )
                
                // remove all children
                while (parsed_log.hasChildNodes()) {
                    parsed_log.removeChild(parsed_log.lastChild)
                }
                
                var logExamplesText = document.createTextNode( log_examples )
                parsed_log.appendChild( logExamplesText )
                
                var data = {
                    "log_examples": log_examples,
                    "log_format" : log_format
                }
                
                console.log( "data:" + JSON.stringify( data ) )
                
                $.ajax({

                    // The URL for the request
                    url: "parse_log",

                    // The data to send (will be converted to a query string)
                    data: JSON.stringify( data ),

                    // Whether this is a POST or GET request
                    type: "POST",

                    // The type of data we expect back
                    dataType : "json",

                    // Code to run if the request succeeds;
                    // the response is passed to the function
                    success: function( json ) {
                        var parsed_log = document.querySelector( "#parsed_log" )
                        // remove all children
                        while ( parsed_log.hasChildNodes() ) {
                            parsed_log.removeChild( parsed_log.lastChild )
                        }

                        // pretty print json
                        var text = document.createTextNode( JSON.stringify( json[ 'parsed_logs' ], null, 2 ) )
                        parsed_log.appendChild( text )

                        // initialize code highlighting
                        $('pre code').each( function( i, block ) {
                            hljs.highlightBlock( block )
                        })
                    },

                    // Code to run if the request fails; the raw request and
                    // status codes are passed to the function
                    error: function( xhr, status, errorThrown ) {
                        alert( "Sorry, there was a problem!" );
                        console.log( "Error: " + errorThrown );
                        console.log( "Status: " + status );
                        console.dir( xhr );
                    }
                });
            }
            
		</script>
        
        <script src="static/bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
        <script src="static/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
        <!-- code highlighting -->
        <script src="static/js/highlight_code/highlight.min.js"></script>
	</body>
</html>