<html>
	<head>
<!-- 		<script src="http://rubaxa.github.io/Sortable/Sortable.js"></script> -->
		<script src="static/js/Sortable.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- Simple List -->
		<ul id="simpleList" class="list-group">
		    <li class="list-group-item">This is <a href="http://rubaxa.github.io/Sortable/">Sortable</a></li>
		    <li class="list-group-item">It works with Bootstrap...</li>
		    <li class="list-group-item">...out of the box.</li>
		    <li class="list-group-item">It has support for touch devices.</li>
		    <li class="list-group-item">Just drag some elements around.</li>
		</ul>
		<script type="text/javascript">
			// Simple list
			Sortable.create(simpleList, { /* options */ });
		</script>
	</body>
</html>