<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Loading Flat UI -->
    <link href="static/bower_components/flat-ui/dist/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="static/bower_components/flat-ui/dist/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="static/bower_components/flat-ui/dist/js/vendor/html5shiv.js"></script>
      <script src="static/bower_components/flat-ui/dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h4>Vertical Slider</h4>
      <div class="row">
          <div class="col-md-12">
              <div id="vertical-slider" style="height: 200px;">dsfdsf</div>
          </div>
      </div><!-- /.row -->
    </div><!-- /.container -->


    <script src="static/bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
    <script src="static/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>

  </body>
</html>
